<div class="container-md">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top container-md bg-dark border-radius">
        <a class="navbar-brand play-bold todo-title" href="">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="ml-auto">
                <app-create></app-create>
            </div>
        </div>
      </nav>
      <div class="my-mt">
          <app-list></app-list>
      </div>
</div>
