input[type="checkbox"] {
    appearance: none;
    width: 37px;
    height: 37px;
    background-color: #fff;
    border: 2px solid #555;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


input[type="checkbox"]:checked::before {
    content: '✔';
    display: block;
    text-align: center;
    line-height: 20px;
}

@media screen and (max-width:425px) {
    input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }
    input[type="checkbox"]:checked::before {
        content: '✔';
        display: block;
        text-align: center;
        line-height: 15px;
    }
}